.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__img{
        height: 25rem;
        width: 25rem;
    }

    &__title{
        color: var(--color-secondary);
        margin: 0 .7rem;
    }
}