.message{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    
    &__block{
        width: 90vw;
        height: 11vh;
        padding: .7rem .9rem;
        margin: .4rem .6rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient( to left, var(--color-light), white);
        border-radius: .5rem;
    }
    
    &__box{
        display:flex;
        width: 90vw;
        height: 8vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    &__img2{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        transform: translateX(2rem);
    }

    &__name{
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__message{
        width: 63%;
    }

    &__message2{
        width: 80%;
    }

    &__on{
        height: 1.80rem;
        width: 2.1rem;
        background: var(--color-secondary);
        border: 2px solid white;
        border-radius: 50%;
        transform: translateX(-5rem) translateY(-1.5rem);
    }

    &__off{
        height: 1.80rem;
        width: 1.80rem;
        background-color: var(--text-secondary);
        border: 2px solid white;
        border-radius: 50%;
        transform: translateX(-5.5rem) translateY(-1.5rem);
    }

    &__send{
        display: flex;
        height: 10vh;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        background-color: white;
    }
    
    &__header{
        display: flex;
        height: 13vh;
        width: 90vw;
        justify-content: space-around;
        align-items: center;
    }   

    &__form-group{
        display: flex;
        height: 13vh;
        justify-content: center;
        align-items: center;
    }

    &__input{
        border: none;
        border-radius: 3px;
        background-color: var(--color-light);
        font-size: 1.2rem;

        &:focus{
            outline: none;
        }
    }
}