:root{
    --color-primary: #7bed9f;
    --color-secondary: #2ed573;
    --color-light: #dfe4ea;
    --color-dark: #2f3542;
    --text-primary: #57606f;
    --text-secondary: #a4b0be;
    --text-white: #ffffff;
}