.icon{
    fill: var(--color-dark);
    cursor: pointer;
    height: 2.75rem;
    width: 2.75rem;

    &--box{
        margin: .5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        position: relative;

        &:hover{
            background: var(--color-light);
            border-radius: 1rem;
        }
    }

    &--camera{
        position: absolute;
        top: calc(3.5vh - 1.6rem);
        left: .3rem;
    }

    &--news{
        fill: var(--text-primary);        
    }

    &--signup-pet{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        fill: white;
        background: var(--text-secondary);
    }

}

.minicon{
    fill: var(--color-dark);
    cursor: pointer;
    height: 1.7rem;
    width: 1.7rem;

    &--box{
        margin: 1.5rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;

        &:hover{
            background: var(--color-light);
            border-radius: 1rem;
        }
    }
}



